// ! palette
// background colors
$sidebar-bg-color: #2a4054;
$header-bg-color: #ededed;
$main-bg-color: #f7f7f7;
$collapse-hover-bg: #354b60;

// text colors
$sidebar-txt-color: #fefefe;
$header-txt-color: #7f8995;
$charts-title-color: #606d7c;

// ! layout
$canva-height: 300px;
$canva-width: 100%;
